.button-container {
   
    position: static;
   margin: 80px 80px 80px 80px;
    transform: translate(-50%, -50%);
   
    flex-direction: column;
    
  }

.sbutton{
  
    width: 50;
    background-color: #ACFADF;
    border-radius: 15px;
   
}

/* Pagebar styles*/
.vertical_bar {
    position: relative;
    width: calc(33.33% - 20px); /* One third of the screen width with some spacing */
    height: 100vh; 
    background-color: rgb(144, 253, 177);
  }
  
  .side-image {
    position: absolute;
    top: 10%; /* Adjust top position as needed */
    left: 10%;
    bottom: 5%;
    width: 70%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(92, 91, 91, 0.5);
    opacity: 0.9;
    z-index: 2;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    filter: blur(0.5px);
  }