.home-section {
  
  position: relative;
  
    
  }

  .overlay-image {
    position: absolute;
    top: 5%; /* Adjust the top position as needed */
    left: 20%;
    bottom: 5%;
    /* Adjust the left position as needed */
    width: 60%; /* Use relative unit for width (40% of the container width) */
    height: 40%; 
   /* Set the path to your overlay image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(92, 91, 91, 0.5); 
   
     /* Set the transparency level for the overlay image */
    z-index: 2; /* Bring the overlay image above the background image */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Add a border with shade */
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3); 
  filter: blur(0.3px); 
  }

  .overlay-image1 {
    position: absolute;
    top: 5%; /* Adjust the top position as needed */
    left: 20%;
    bottom: 5%;
    /* Adjust the left position as needed */
    width: 60%; /* Use relative unit for width (40% of the container width) */
    height: 63%; 
   /* Set the path to your overlay image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(92, 91, 91, 0.5); 
   
    opacity: 1; /* Set the transparency level for the overlay image */
    z-index: 2; /* Bring the overlay image above the background image */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Add a border with shade */
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3); 
  filter: blur(0.3px); 
  }

  
  .Hbar-text{
    font-size: 50px;
    color: black;
    font-weight: bolder;
    margin: 10px 0px 30px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  
  }


  .home{
width: 100%;
height: 50%;
position: relative;
display: flex;
align-items: center;
justify-content: center;
margin: auto;

.overlay{
  position: absolute;
  height: 100%;
  width: 50%;
  background: rgb(240, 250, 253);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}


.veido{
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  bottom: 0;
  object-fit: cover;
}


.homeContent{
  width: 100%;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}



.textDiv{
  padding: 2rem 0;

  .smallText{
    font-size: 13px;
    text-transform: capitalize;
  }

  .HomeTitle{
    position: relative;
    font-size: 1.8rem;
  }


}
  }

  /*  Navbar*/

 
  